.map-form {
  position: absolute;
  left: 59px;
  top: 59px;
  width: 486px;
  height: 471px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
}

.map-form__top-block {
  height: 125px;
  margin-bottom: 23px;
  padding: 25px 22px 0;
  border-bottom: 1px solid #E0E0E0;
}

.map-form__bottom-block {
  width: 100%;
  height: 323px;
  padding: 32px 46px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.map-form__save-btn {
  width: 100%;
  height: 61px;
  max-width: 394px;
  text-transform: none !important;
  color: var(--black) !important;
  background-color: var(--second-color) !important;
}

.map-form__block-btn {
  margin-top: 30px;
}