.login-page {
  display: flex;
}

.login-page__left {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 485px;
  width: 33.6%;
  height: 100vh;
  background-color: var(--dark-color);
}

.login-page__logo {
  width: 192px;
  height: 228px;
}

.login-page__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76.4%;
  height: 100vh;
  background: url('../../assets/images/map.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1000px) {
  .login-page {
    height: 100vh;
    flex-direction: column;
  }

  .login-page__left {
    width: 100%;
    max-width: none;
    height: 200px;
  }

  .login-page__right {
    width: 100%;
    height: calc(100% - 150px);
  }

  .login-page__logo {
    position: relative;
    top: 10px;
    width: 120px;
    height: 100px;
  }
}