.profile-form__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.profile-form__width {
  display: flex;
  justify-content: space-between;
}

.profile-form__left-block {
  max-width: 355px;
  width: 100%;
}

.profile-form__block {
  /* margin-bottom: 22px; */
}

.profile-form__input-block {
  width: 100%;
  max-width: 160px;
}

.profile-form__block-btn {
  text-align: center;
}

.profile-form__save-btn {
  max-width: 353px;
  height: 61px;
  color: var(--black) !important;
  background-color: var(--second-color) !important;
}

.profile-form__error-text {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #FF0000;
}

.input--error .MuiInputLabel-root.Mui-focused {
  color: #FF0000 !important;
}
